body {
  --black: #111111;
  --primary: #79c142;
  --white: #ffffff;
  --marker: #79c142;

  --pen: #e9ecef;
  --sketch: rgb(129, 129, 129);
  --stencil: rgb(203, 203, 203);
  --accent: rgba(2, 9, 22, 0.75);
  --bg-main: rgb(2, 9, 22);
  --bg-secondary: #0f1622;
}
