body {
  --black: #111111;
  --primary: rgb(121, 193, 66);
  --white: rgb(255, 255, 255);
  --marker: rgb(121, 193, 66);

  --pen: rgb(233, 236, 239);

  --sketch: rgb(129, 129, 129);
  /* --stencil: rgb(203, 203, 203); */
  --stencil: rgb(108, 117, 125);
  --accent: rgba(2, 9, 22, 0.749);
  --bg-main: #020916;
  --bg-secondary: rgb(15, 22, 34);
  --bg-accent: #141e2d;
}
