@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css';
/* comment this ^ out - when you are ready */

/* SETTINGS */
@import 'settings.css';
/* variables/ etc */

/* STRUCTURE */
@import 'structure.css';

/* TYPOGRAPHY */
@import 'typography.css';

/* COMPONENTS */
@import 'components.css';

body {
  background-color: var(--bg-main);
  color: var(--pen);
}

header {
  background-color: var(--bg-secondary);
}

header * {
  display: flex;
}

masthead {
  padding: 24px 0;
  width: 100%;
  z-index: 1000;
}

masthead .mobile {
  justify-content: space-between;
}

masthead .mobile .icons {
  align-items: center;
  gap: 10px;
}

nav-bar {
  /*display: none;*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: absolute;
  top: -190px;
  left: 0;

  background-color: var(--bg-secondary);
  padding: 24px 0;
  z-index: -1000;
  /*transition: 1s ease-out;*/
}

.mobile div {
  gap: 30px;
  align-items: center;
}

nav-links,
nav-inputs,
.login {
  /*display: flex;*/
  flex-direction: row;
  gap: 20px;
}

nav-inputs i {
  align-self: center;
  color: var(--primary);
  font-size: 22px;
}

nav-links .login {
  display: none;
}

nav-links {
  display: none;
}

nav-links a {
  color: var(--marker);
  font-weight: 600;
}

span,
span a {
  color: var(--pen);
  text-decoration: none;
}

nav-inputs .login {
  display: none;
}

.search-radio {
  justify-content: center;
  align-items: center;
}

picture.logo img {
  height: 50px;
  width: auto;
}

/* swiper stuff */

#now-playing {
  transition: 0.3s ease-in-out;
}

#now-playing inner-column > h2,
.swiper-wrapper {
  position: relative;
  z-index: 100;
  padding-bottom: 20px;
}

.swiper-details button {
  margin: 5px 0;
}

/* landing about page */
.landing-container span {
  color: var(--primary);
  font-weight: 500;
}

.landing-wrapper-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  margin: 100px auto;

  /*text-align: center;*/
}

.landing-wrapper-about h4.body-copy {
  font-weight: 500;
}

/* movies container */

.content-container .search {
  align-items: center;
}

.content-container {
  margin: 50px 0;
}
ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 20px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}

.card-info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.card-info .content-details {
  align-self: center;
}

.card-info .content-details p:nth-child(even) {
  border-left: 1px solid var(--stencil);
  border-right: 1px solid var(--stencil);
  padding: 0 10px;
}

.content-heading {
  padding-bottom: 10px;
}

#search-feedback {
  align-self: center;
}

/* Movie details page */

#movie-details-container .movie-details img {
  height: 100%;
  max-width: 400px;
  object-fit: cover;
}

.main-card,
.back {
  position: relative;
  z-index: 2;
}

/*Footer*/

footer,
footer * {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

footer {
  padding: 40px 0;
  margin-top: 60px;
  background-color: var(--bg-secondary);
}

footer .body-copy {
  font-weight: 600;
  color: var(--marker);
}

footer picture {
  align-self: start;
}

footer .social-media {
  flex-direction: row;
}

/*Animations and Key Frames*/

.slide-in {
  animation: slideIn ease-in-out 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    top: -50px;
  }

  100% {
    top: 80px;
  }
}

.slide-out {
  animation: slideOut ease-in-out 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  0% {
    top: 80px;
  }

  100% {
    top: -150px;
  }
}

/*Media Queries*/

@media (max-width: 350px) {
  ul {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .content-heading {
    flex-direction: column;
  }
}

@media (min-width: 480px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  nav-links {
    display: flex;
  }

  input[type='text'] {
    min-width: 20vw;
  }

  .icons .login {
    display: flex;
  }

  .info span {
    display: inline-block;
  }

  ul {
    grid-template-columns: repeat(3, 1fr);
  }

  masthead .mobile .icons {
    gap: 20px;
  }

  footer .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  nav-inputs .login {
    display: flex;
  }

  ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .search-radio {
    gap: 15px;
  }

  .search-form {
    flex-direction: row;
    gap: 20px;
  }

  div.icons,
  i.close-search {
    display: none;
  }

  nav-bar {
    position: initial;
    z-index: 0;
    width: fit-content;
  }

  nav-inputs a {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  ul {
    grid-template-columns: repeat(6, 1fr);
  }

  /* .body-copy {
    font-size: 16px;
  }
  .quiet-voice {
    font-size: 14px;
  } */
}
