@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css';
/* comment this ^ out - when you are ready */

/* SETTINGS */
@import 'settings.css';
/* variables/ etc */

/* STRUCTURE */
@import 'structure.css';

/* TYPOGRAPHY */
@import 'typography.css';

/* COMPONENTS */
@import 'components.css';

body {
  background-color: var(--bg-main);
  color: var(--pen);
  position: relative;
}

header {
  background-color: var(--bg-secondary);
}

nav {
  /* padding: 24px 0; */
  width: 100%;
  z-index: 1000;
}

nav .masthead {
  justify-content: space-between;
  padding: 24px 0;
}

nav .masthead .icons {
  align-items: center;
  gap: 10px;
}

nav section.nav-search {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: var(--bg-secondary);
}

nav .masthead div {
  gap: 30px;
  align-items: center;
}

nav nav-links,
nav nav-inputs,
.login {
  flex-direction: row;
  gap: 20px;
}

nav nav-inputs {
  justify-content: center;
}
nav nav-inputs .container {
  padding-bottom: 24px;
}

nav nav-inputs i {
  align-self: center;
  color: var(--primary);
  font-size: 22px;
}

nav nav-links .login {
  display: none;
}

nav nav-links {
  display: none;
}

span,
span a {
  color: var(--pen);
}

nav nav-inputs .login {
  display: none;
}

nav nav-inputs .search-form {
  padding: 5px 0;
}

picture.logo img {
  height: 50px;
  width: auto;
}

/* about container */

.landing-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s ease-in-out;
}

/* swiper stuff */

#now-playing,
#search-results-wrapper {
  transition: 0.3s ease-in-out;
}

#now-playing inner-column > h2,
.swiper-wrapper {
  position: relative;
  z-index: 100;
  padding-bottom: 20px;
}

.swiper-details button {
  margin: 5px 0;
}

/* landing about page */
.landing-container span:not(.about-logo span, h2 span) {
  color: var(--primary);
  font-weight: 500;
}

.landing-wrapper-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  margin: 100px auto;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--sketch);

  /*text-align: center;*/
}

.landing-wrapper-about h4.body-copy {
  font-weight: 500;
}

/* movies container */

#home {
  margin-top: 80px;
}

#home .search-flex {
  align-self: center;
}

#home .search-radio {
  justify-content: center;
  align-items: center;
}

#home .content-container .search {
  align-items: center;
}

#home .content-container {
  margin: 50px 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px 20px;
  transition: 1s ease-in-out;
}

li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}

.card-info h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.card-info .content-details {
  /* align-self: center; */
  color: var(--sketch);
}

.content-heading {
  padding-bottom: 15px;
}

#search-feedback {
  align-self: center;
}

.scroll-to-top {
  display: none;
  border-radius: 5px;
  padding: 15px 20px;
  position: fixed;

  bottom: 3vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(121, 193, 66, 0.8);
  border: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.scroll-to-top.show {
  opacity: 1;
  display: block;
}

/*Footer*/

footer,
footer * {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

footer {
  padding: 40px 0;
  margin-top: 60px;
  background-color: var(--bg-secondary);
}

footer .body-copy {
  font-weight: 600;
  color: var(--marker);
}

footer picture {
  align-self: start;
}

footer .social-media {
  flex-direction: row;
}

/* swiper */

.main-bg-2 .swiper {
  display: flex;
  justify-content: flex-end;
  max-height: 75vh;
  /* position: relative; */
}

.main-bg-2 .swiper-details {
  display: flex;
  align-self: flex-end;
  position: absolute;
  /* top: 0; */
  bottom: 5%;
  left: 0;
  right: 0;

  padding-top: 40px;

  /* background-color: rgba(0, 0, 0, 0.75); */
}

.main-bg-2 .swiper-details h3 {
  color: var(--primary);
}
.main-bg-2 .swiper-details .over-view {
  max-width: 68ch;
}

/*Media Queries*/

@media (max-width: 400px) {
  .content-heading {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 480px) {
  footer .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  nav nav-links {
    display: flex;
  }

  .info span {
    display: inline-block;
  }

  footer .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  header nav {
    flex-direction: row !important;
    justify-content: space-between;
  }

  nav section.nav-search {
    max-height: initial;
    width: initial;
  }

  nav-inputs {
    padding: 0px 10px;
  }

  nav nav-inputs .container {
    padding-bottom: 0;
  }

  .icons :is(.search-dd, .burger-menu) {
    /* display: none; */
  }

  .icons .login-icon {
    color: var(--primary);
    font-size: 22px;
  }

  .search-bar-icon {
    display: block !important;
  }
  nav-inputs .login {
    display: flex;
  }

  nav nav-inputs .login {
    display: flex;
  }

  .search-radio {
    gap: 15px;
  }

  .search-form {
    flex-direction: row;
    gap: 20px;
  }

  div.icons,
  i.close-search {
    display: none;
  }

  nav-bar {
    position: initial;
    z-index: 0;
    width: fit-content;
  }

  nav-inputs a {
    align-items: center;
  }
}

@media (min-width: 1200px) {
}
