@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css';
/* comment this ^ out - when you are ready */

/* SETTINGS */
@import 'settings.css';
/* variables/ etc */

/* STRUCTURE */
@import 'structure.css';

/* TYPOGRAPHY */
@import 'typography.css';

/* COMPONENTS */
@import 'components.css';

body {
  background-color: var(--bg-main);
  color: var(--pen);
}

header {
  background-color: var(--bg-secondary);
}

header * {
  display: flex;
}

masthead {
  padding: 24px 0;
  width: 100%;
  z-index: 1000;
}

masthead .nav-bar {
  justify-content: space-between;
}

masthead .nav-bar .icons {
  align-items: center;
  gap: 10px;
}

nav-bar {
  /*display: none;*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  position: absolute;
  top: -190px;
  left: 0;

  background-color: var(--bg-secondary);
  padding: 24px 0;
  z-index: -1000;
  /*transition: 1s ease-out;*/
}

.nav-bar div {
  gap: 30px;
  align-items: center;
}

nav-links,
nav-inputs,
.login {
  /*display: flex;*/
  flex-direction: row;
  gap: 20px;
}

nav-inputs i {
  align-self: center;
  color: var(--primary);
  font-size: 22px;
}

nav-links .login {
  display: none;
}

nav-links {
  display: none;
}

span,
span a {
  color: var(--pen);
}

nav-inputs .login {
  display: none;
}

.search-radio {
  justify-content: center;
  align-items: center;
}

picture.logo img {
  height: 50px;
  width: auto;
}

/* about container */

.landing-container {
  /* overflow: hidden; */
  display: none;
}

.show {
  display: inline-block;
  animation: slideDown 0.4s ease-in-out;
  min-height: 100vh;
}

@keyframes slideDown {
  0% {
    height: 0;
  }
  10% {
    height: 10vh;
  }
  20% {
    height: 20vh;
  }
  30% {
    height: 30vh;
  }
  40% {
    height: 40vh;
  }
  50% {
    height: 50vh;
  }
  60% {
    height: 60vh;
  }
  70% {
    height: 70vh;
  }
  80% {
    height: 80vh;
  }
  90% {
    height: 90vh;
  }
  100% {
    height: 100vh;
  }
}

/* swiper stuff */

#now-playing,
#search-results-wrapper {
  transition: 0.3s ease-in-out;
}

#now-playing inner-column > h2,
.swiper-wrapper {
  position: relative;
  z-index: 100;
  padding-bottom: 20px;
}

.swiper-details button {
  margin: 5px 0;
}

/* landing about page */
.landing-container span:not(.about-logo span, h2 span) {
  color: var(--primary);
  font-weight: 500;
}

.landing-wrapper-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 600px;
  margin: 100px auto;

  /*text-align: center;*/
}

.landing-wrapper-about h4.body-copy {
  font-weight: 500;
}

/* movies container */

.content-container .search {
  align-items: center;
}

.content-container {
  margin: 50px 0;
}

ul:not(.tools-list ul) {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px 20px;
  transition: 1s ease-in-out;
}

li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
  /* transition: 1s ease-in-out; */
}

.card-info h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.card-info .content-details {
  /* align-self: center; */
  color: var(--sketch);
}

/* .card-info .content-details p:nth-child(even) {
  border-left: 1px solid var(--stencil);
  padding: 0 10px;
} */

.content-heading {
  padding-bottom: 15px;
}

#search-feedback {
  align-self: center;
}

/*Footer*/

footer,
footer * {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

footer {
  padding: 40px 0;
  margin-top: 60px;
  background-color: var(--bg-secondary);
}

footer .body-copy {
  font-weight: 600;
  color: var(--marker);
}

footer picture {
  align-self: start;
}

footer .social-media {
  flex-direction: row;
}

/*Animations and Key Frames*/

.slide-in {
  animation: slideIn ease-in-out 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    top: -50px;
  }

  100% {
    top: 80px;
  }
}

.slide-out {
  animation: slideOut ease-in-out 0.3s;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  0% {
    top: 80px;
  }

  100% {
    top: -150px;
  }
}

.main-bg-2 .swiper {
  display: flex;
  justify-content: flex-end;
  max-height: 75vh;
  /* position: relative; */
}

.main-bg-2 .swiper-details {
  display: flex;
  align-self: flex-end;
  position: absolute;
  /* top: 0; */
  bottom: 5%;
  left: 0;
  right: 0;

  padding-top: 40px;

  /* background-color: rgba(0, 0, 0, 0.75); */
}

.main-bg-2 .swiper-details h3 {
  color: var(--primary);
}
.main-bg-2 .swiper-details .over-view {
  max-width: 68ch;
}

/*Media Queries*/

@media (max-width: 400px) {
  .content-heading {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 480px) {
  footer .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  nav-links {
    display: flex;
  }

  .icons i.fa-bars {
    display: none;
  }

  .info span {
    display: inline-block;
  }

  masthead .nav-bar .icons {
    gap: 20px;
  }

  footer .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  nav-inputs .login {
    display: flex;
  }

  .icons .login {
    display: flex;
  }

  .search-radio {
    gap: 15px;
  }

  .search-form {
    flex-direction: row;
    gap: 20px;
  }

  div.icons,
  i.close-search {
    display: none;
  }

  nav-bar {
    position: initial;
    z-index: 0;
    width: fit-content;
  }

  nav-inputs a {
    align-items: center;
  }
}

@media (min-width: 1200px) {
}
